@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

url地址：<input type="text" name="url" />
<input id="handerBtn" type="button"  value="提交"/>
<input id="downBtn" type="button"  value="下载"/>
<div id="imgBox">

</div>
@section bodyFoot{
<script type="text/javascript">
    $("#handerBtn").click(function () {
        $("#imgBox").html();
        var url = $("input[name='url']").val();
        $.post("/ajax/GetImgs/?action=detail", { "url": url }, function (json) {
            console.log(json);
            switch (json.Code) {
                case "100": {
                    for (var i = 0; i <json.Datas.length;i++) {
                        $("#imgBox").append("<img src='" + json.Datas[i] + "'/></br>");
                    }
                }; return;
                default: alert(json.Msg);
            }
        });
    });

    $("#downBtn").click(function () {
        var url = $("input[name='url']").val();
        //var imgBoxJq = $("#imgBox img");
        var imgs = "3.jpg,4.jpg,5.jpg";
        //var j = 0;
        //for (var i = 0; i < imgBoxJq.length; i++) {
        //    var item = imgBoxJq.eq(i);
        //    imgs += item.attr("sr");
        //}
        $.post("/ajax/DownLoadImgs/?action=detail", { "url": url, "imgs": imgs }, function (json) {
            console.log(json);
            alert(json.Code);
        });
    });

</script>        
}